name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    # Usa a versão mais recente do Ubuntu
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code

        uses: actions/checkout@v4

      - name: Setup Node.js
        # Configura o ambiente Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm" # Adiciona cache para builds mais rápidos

      - name: Install dependencies

        run: npm ci

      - name: Build project

        run: npm run build

      - name: Deploy to gh-pages
        # Ação que envia o build para o GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

          publish_dir: ./dist
          cname: naocompativel.com.br
